extends ./layout/index

block slider 
	.slider 
		h1 Rio de Janeiro
		em aventura 

block contenido
	main.container.mt-5
		h2.text-center.mb-5 Sobre Nosotros
		.row.mb-5
			.col-md-6
				p Curabitur ultrices tincidunt augue, quis pharetra ex dignissim ut. Phasellus sollicitudin tempus eleifend. Maecenas tempor imperdiet ipsum, at posuere lectus efficitur quis. Nam eget finibus nunc. Sed tempor nulla neque. Aenean nunc libero, hendrerit ac rutrum et, dapibus eget elit.
				p In a gravida ligula, sit amet gravida ante. Vivamus in justo quis odio tempor consectetur. Duis convallis luctus pretium. Pellentesque maximus nisi ac lobortis cursus.
			.col-md-6
				img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")

		include ./layout/bloque_viajes

	.descuento
		.container
			.row 
				.col-md-6
					.contenido
						h3 5% de Descuento
						p.titulo Viaje a Canadá
						p.fecha 20 de Marzo de 2023 - 28 de Marzo de 2023
						p.precio $2.500 USD

	.container
		h2.mt-5.text-center Testimoniales
		include ./layout/bloque_testimoniales