extends ./layout/index

block contenido
	main.container.mt-5
		.row
			.col-md-5 
				img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
			.col-md-7
				h1= pagina
				blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu erat leo. Sed quis mattis lacus, vel vehicula nisi. Integer viverra lacus nec neque commodo, eget gravida risus tincidunt. Nam placerat tortor vel libero dignissim, eget lobortis sapien malesuada. Donec in nibh feugiat, mollis nisi nec, elementum tellus.

				p In vestibulum pulvinar ante egestas commodo. Pellentesque placerat et ipsum a volutpat. Nullam fringilla pharetra lacus, ut sodales augue auctor nec. In at sodales urna. Praesent in justo finibus dolor ornare pellentesque ac quis erat. Curabitur nibh lorem, vulputate non sodales vel, ullamcorper et sapien. Nunc finibus fermentum sem vel condimentum. Nullam dignissim purus nibh, et ultricies felis pellentesque eu.

				p Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Maecenas interdum neque eu nibh commodo, id dictum mi eleifend. Aenean erat ligula, scelerisque id fringilla sed, varius quis magna. Vestibulum vel vestibulum sapien. Vivamus lobortis nunc metus, sit amet volutpat metus commodo sed. Sed est sapien, consequat tincidunt eros ac, bibendum fringilla urna.
	
	.listado-iconos
		.container.mt-5.py-5.text-center
			.row 
				.col-md-4
					img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
					h2.mb-4 Seguridad
					p Vivamus lobortis nunc metus, sit amet volutpat metus commodo sed. Sed est sapien, consequat tincidunt eros ac, bibendum fringilla urna.

				.col-md-4
					img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
					h2.mb-4 Mejores Destinos
					p Vivamus lobortis nunc metus, sit amet volutpat metus commodo sed. Sed est sapien, consequat tincidunt eros ac, bibendum fringilla urna.

				.col-md-4
					img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
					h2.mb-4 Los Mejores Precios
					p Vivamus lobortis nunc metus, sit amet volutpat metus commodo sed. Sed est sapien, consequat tincidunt eros ac, bibendum fringilla urna.